*.pyc
output/*
__pycache__/*
.idea/*
libs/*
agents/results/*
local_asset_bundles/
*.ipynb
*.avi
*.pth
# Local cache of TDW models
data/assets/
data/download_script.sh
# Output of screenshots
scenes/outputs/screenshots/record/
outputs/screenshots/
outputs/
results/
results_old/*
*.log