*.DS_store
*.pyc
output/*
__pycache__/*
.idea/*
libs/*
agents/results/*
local_asset_bundles/
*.ipynb
*.avi
*.pth
# Local cache of TDW models
src/HAZARD/data/assets/
src/HAZARD/data/download_script.sh
# Output of screenshots
src/HAZARD/scenes/outputs/screenshots/record/
outputs/screenshots/
outputs/
results/
.obsidian/
results_old/*
*.log